/* Fonts */
/* https://www.yesstyle.com/blog/ */
@font-face {
    font-family: 'DM_Serif_Display';
    src: url('https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx0vrx52g.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Normal';
    src: url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Bold';
    src: url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Custom Properties */
:root {
    --main-color-text: #000000;
    --text-color-2: #666666;
    --text-color-3: #52b134;
    --main-bg-color: #ffffff;
    --bg-color-2: #f1f2f6;
    --bg-color-3: #333333;
    --border-color: #d9dadd;
    --font-family-h: 'DM_Serif_Display', sans-serif;
    --font-family-normal: 'Roboto_Normal', sans-serif;
    --font-family-bold: 'Roboto_Bold', sans-serif;
}

/* General Styles */
body {
    margin: 0;
}

main {
    /* max-width: 50em; */
    
}

section {
    max-width: 50em;
    margin: 0 auto;
}

section + section {
    margin-top:1em;
}

h2, h3 {
    width: 100%;
    margin: 0.6em 0;
}

p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-family: var(--font-family-normal);
    font-size: 0.9em;
    width: 100%;
    margin: 0.6em 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

img {
    width: 100%;
    margin: 0.6em 0;
    display: block;
}

/* Suzy’s Fashion Moments Section Styles */
section:first-of-type {
    
    background-image: linear-gradient(#f1f2f6 25em, #ffffff 0);
    /* margin: -2em 0 0 0; */
    
    max-width: unset;
}

section:first-of-type div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1em;
}

@media (min-width: 62.1em) {
    section:first-of-type {
        background-image: linear-gradient(#f1f2f6 25em, #ffffff 0);
    }
}

section:first-of-type h2 {
    order: 1;
    font-family: var(--font-family-h);
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
}

section:first-of-type ul {
    order: 2;
    font-family: var(--font-family-normal);
    color: var(--text-color-2);
    list-style: none;
    display: flex;
    font-size: 0.9em;
    margin-bottom: 1em;
    gap: 1em;
    text-align: center;
}

section:first-of-type p:first-of-type {
    order: 4;
}

section:first-of-type p:nth-of-type(2) {
    order: 6;
}

section:first-of-type p:nth-of-type(3) {
    order: 7;
}

section:first-of-type img {
    order: 3;
}

section:first-of-type iframe {
    order: 5;
    width: 100%;
    aspect-ratio: 16/9;
}

/* High-Octane Idol Get-Ups Section Styles */
section:nth-of-type(2) {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2) h2 {
    order: 1;
    font-family: var(--font-family-bold);
}

section:nth-of-type(2) p {
    order: 3;
}

section:nth-of-type(2) img {
    order: 2;
}

/* Recreate Doona’s Wardrobe Section Styles */
/* https://codepen.io/shooft/pen/KKbwmao */
section:nth-of-type(3) {
    margin-bottom: 1em;
    border-bottom: solid 0.1em var(--border-color);
    position: relative;
}

section:nth-of-type(3) h3 {
    font-family: var(--font-family-bold);
    font-size: 0.9em;
}

section:nth-of-type(3) > ul:first-of-type {
    display: flex;
    gap: 0.5em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain auto;
    -webkit-overflow-scrolling: touch;
}

section:nth-of-type(3) > ul:first-of-type li {
    flex-basis: 15em;
    flex-shrink: 0;
    align-items: center;
    gap: 0.25em;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column-reverse;
}

section:nth-of-type(3) button {
    width: 3em;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

section:nth-of-type(3) button:first-of-type {
    left: 0;
    top: 50%;
}

section:nth-of-type(3) button:last-of-type {
    right: 0;
    top: 50%;
}

/* Janice Chow Section Styles */
section:nth-of-type(4) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    gap: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em #111;
    border: solid 0.1em var(--border-color);
    border-radius: 0.2em;
    padding: 1em;
    margin-bottom: 5em;
}

section:nth-of-type(4) h2 {
    color: var(--main-color-text);
    font-family: var(--font-family-h);
}

section:nth-of-type(4) ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: start;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: var(--font-family-normal);
}

section:nth-of-type(4) ul li {
    border: solid 0.1em;
    border-radius: 2em;
    padding: 0.3em;
}

section:nth-of-type(4) p {
    grid-column-start: 1;
    grid-column-end: 3;
}

section:nth-of-type(4) img {
    width: 5em;
    border-radius: 25em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Related Posts Section Styles */
section:last-of-type {
    background: var(--bg-color-2);
    margin: -0.5em;
    display: flex;
    flex-direction: column;
}

section:last-of-type h2 {
    text-align: center;
    margin-top: 2em;
    text-transform: uppercase;
    color: var(--text-color-2);
    font-family: var(--font-family-h);
}

section:last-of-type h3 {
    order: 2;
    padding: 0.5em;
    font-family: var(--font-family-h);
    font-size: 1em;
}

section:last-of-type h4 {
    order: 3;
    padding: 0.5em;
    font-family: var(--font-family-normal);
    color: var(--text-color-2);
}

section:last-of-type ul {
    list-style: none;
    padding: 0;
    margin: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.1em;
}

section:last-of-type ul li {
    flex-basis: 25em;
    flex-shrink: 0;
    align-items: right;
    gap: 0.25em;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    border: solid var(--bg-color-2);
}

section:last-of-type img {
    order: 1;
    margin-top: -0.1em;
}

/* Related Posts Responsive Styling */
@media (min-width: 62.1em) {
    /* https://codepen.io/shooft/pen/KKbwmao */
    section:last-of-type ul {
        display: flex;
        gap: 0.5em;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        overscroll-behavior: contain auto;
        -webkit-overflow-scrolling: touch;
    }
}
