/* Fonts */
/* https://www.yesstyle.com/blog/ */
@font-face {
    font-family: 'DM_Serif_Display';
    src: url('https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx0vrx52g.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Normal';
    src: url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Bold';
    src: url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* Custom Properties */
:root {
    --main-color-text: #000000;
    --text-color-2: #666666;
    --text-color-3: #52b134;
    --main-bg-color: #ffffff;
    --bg-color-2: #f1f2f6;
    --bg-color-3: #333333;
    --border-color: #d9dadd;
    --font-family-h: 'DM_Serif_Display', sans-serif;
    --font-family-normal: 'Roboto_Normal', sans-serif;
    --font-family-bold: 'Roboto_Bold', sans-serif;
}

/* General Styles */
body {
    margin: 0;
}

main {
    /* max-width: 50em; */
    
}

section {
    max-width: 50em;
    margin: 0 auto;
}

section + section {
    margin-top:1em;
}

h2, h3 {
    width: 100%;
    margin: 0.6em 0;
}

p {
    margin-bottom: 1em;
    line-height: 1.5;
    font-family: var(--font-family-normal);
    font-size: 0.9em;
    width: 100%;
    margin: 0.6em 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

img {
    width: 100%;
    margin: 0.6em 0;
    display: block;
}

/* Home start dia show */
/* https://codepen.io/shooft/pen/KKbwmao */
section:first-of-type {
    display: flex;
    gap: .5em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain auto;
    -webkit-overflow-scrolling: touch;
}
  
section:first-of-type article {
    flex-basis: 5em;
    flex-shrink: 0;
    align-items: center;
    gap: .25em;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column-reverse;
}  